.inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    align-items: center;
    padding: 7rem 4rem 0 4rem;
    color:#fff;
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0  #777;
    position: relative;
}
.inicio h2{
    
    font-size: 15rem ;
    font-weight: normal;
    user-select: none;
}
.cursor{
    display: inline-block;
    box-sizing: border-box;
    
}
.inicio h3{
    user-select: none;
    font-size: 3rem;
    font-family:monospace;
    color: #555;
    font-style: italic;
    letter-spacing: .8rem;
    font-weight: normal;
    animation: cursor .4s infinite, movimiento 8s steps(20,end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #22f2b2;

    
}



@keyframes cursor{
    0%{
        border-color: transparent;
    }
    50%{
        border-color: #22f2b2 solid 3px;
    }
}

@keyframes movimiento {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

@media screen and (max-width: 1050px) {
    
    .inicio{
        display: inline-block;
        text-align: center;
        min-height: auto;
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .inicio h2{
        font-size: 7rem;
        line-height: .8;
    }
    .inicio h3{
        margin-top: 1.2rem;
    }

    .descripcion{
        display: none;
    }
    .img {
        width: 50%;
        min-width: 25rem;
    }

    .foto{
        min-height: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        box-shadow: none;
    }
}